.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: rgb(214, 230, 243);
  stroke: rgb(2, 39, 85);
}
.pt {
  fill: rgb(73, 129, 199);
}

table {
  cursor:pointer;
  border-collapse: collapse;
  border-spacing: 0;
}

tr.class1 {
  background-color: rgba(214, 230, 243, 0.4);
}

tr {
  background-color: white;
}

tr.select {
  background-color: rgb(214, 230, 243);
}

.table {
  font-size: 12px;
}

.table th, .table td {
  /*padding: 8px;*/
  /*line-height: 20px;*/
  text-align: left;
  /*vertical-align: top;*/
  border-top: 1px solid #dddddd;
}
