<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tango.css') }}" />
    <script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <title>David Reed</title>
    {% endblock %}
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37466924-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
</head>
<body>
	<a href="{{ url_for('index') }}">Home</a>
    <div class="title">
        <h1>{% block title %}{% endblock %}</h1>
    </div>
	<div>
        {% block content %}
        {% endblock %}
    </div>
    <div class="footnote clearfix">
    	This website design is a gratuitous copy of Mike Bostock's website
    </div>
</body>
{% block footer %}
{% endblock %}