{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style>

    .preview {
      border: solid 1px #ccc;
      height: 80px;
      margin-bottom: .5em;
      width: 720px;
    }

    .edge {
      border: solid 1px #ccc;
      height: 80px;
      margin-bottom: .5em;
      width: 720px;
    }

    .date {
      color: #636363;
      font-family: "PT Sans", sans-serif;
      font-size: smaller;
      margin: 2px 0 0 480px;
      position: absolute;
      text-align: right;
      width: 240px;
    }

    .nytimes:before {
      background-image: url(nytimes.png);
      background-size: contain;
      content: "";
      display: inline-block;
      height: 16px;
      position: relative;
      top: 2px;
      width: 16px;
    }

    .painting {
      background-size:200px;
      background-position:center; 
      width: 72px;
      height: 80px;
    }

  </style>
{% endblock %}
{% block content %}
	<h1>David Reed</h1>
  {% for article in articles %}
    <div>
    <span class="date">{{ article.date[0] }}</span>
    <a href="{{ article.link[0] }}">
      <div>{{ article.title[0] }}</div>
      <img class="preview" src="{{ url_for('static', filename='img/' + article.img[0]) }}">
    </a>
    </div>
    <br>
	{% endfor %}
  <a href="{{ url_for('painting') }}">
    <div>Paintings</div>

    <div class="edge">
    {% for ii in range(10) %}
    <div style="float: left;">
    <div class="painting"  style="background-image: url({{ url_for('static', filename="media/thumbs/paintings_" ~ (ii+1) ~ ".thumbnail.jpg") }});"></div>
    </div>
    
    
  {% endfor %}
  </div>
  </a>
{% endblock %}