@tailwind base;

@tailwind components;

@tailwind utilities;

.home {
  font-family: "Roboto Slab", serif;
}

.mdx h1 {
  @apply font-bold text-2xl;
}

.mdx h2 {
  @apply font-bold text-xl;
}

.mdx h4 {
  @apply font-medium text-lg text-gray-700 mb-1;
}

.mdx ol {
  @apply pl-5 list-decimal my-4;
}

.mdx ul {
  @apply pl-5 list-disc my-4;
}

.mdx ul ul {
  @apply my-0;
  list-style-type: circle;
}

.mdx ul ul ul {
  list-style-type: square;
}

.mdx blockquote {
  @apply border-l-2 font-thin italic pl-5 text-gray-600 text-xl;
}

.mdx p {
  @apply my-4;
}

.mdx a {
  @apply text-blue-600;
}

.mdx a:hover {
  @apply underline text-blue-800;
}

.mdx hr {
  @apply my-5;
}
