---
import BaseLayout from '../layouts/BaseLayout.astro';
import TopoEditorComponent from '../components/TopoEditor.tsx';
import NodeEditor from '../components/NodeEditor.tsx';
---

<BaseLayout title="Topo Editor Demo">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Topo Editor Demo</h1>
    <!-- <div class="max-w-2xl">
      <TopoEditorComponent client:load />
    </div> -->
    <div class="max-w-2xl">
      <NodeEditor client:load />
    </div>
  </main>
</BaseLayout>
