{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .area {
    fill: rgb(214, 230, 243);
    stroke: rgb(2, 39, 85);
  }
  .pt {
    fill: rgb(73, 129, 199);
  }

  table {
    cursor:pointer;
    border-collapse: collapse;
    border-spacing: 0;
  }

  tr.class1 {
    background-color: rgba(214, 230, 243, 0.4);
  }

  tr {
    background-color: white;
  }

  tr.select {
    background-color: rgb(214, 230, 243);
  }

  .table {
    font-size: 12px;
  }

  .table th, .table td {
    /*padding: 8px;*/
    /*line-height: 20px;*/
    text-align: left;
    /*vertical-align: top;*/
    border-top: 1px solid #dddddd;
  }

</style>
{% endblock %}
{% block content %}
{{ content }}
{% endblock %}
{% block footer %}
<script>

  var margin = {top: 20, right: 20, bottom: 50, left: 50},
    width = 300 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

  var format = d3.format("0.2f");

  var x = d3.scale.linear()
    .range([0, width])
    .domain([0, 1]);

  var y = d3.scale.linear()
    .range([height, 0])
    .domain([0, 1]);

  var xAxis = d3.svg.axis()
    .scale(x)
    .ticks(5)
    .orient("bottom");

  var yAxis = d3.svg.axis()
    .scale(y)
    .ticks(5)
    .orient("left");

  var area = d3.svg.area()
    .x(function(d) { return x(d.x); })
    .y0(height)
    .y1(function(d) { return y(d.y); });

  var svg = d3.select("#draw")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("TPR");

  var darea = svg.append("path")
  .attr("class", "area");

  d3.csv("{{ url_for('static', filename='data/roc.csv') }}", function(d, i) {
    d.score = +d.score;
    d.class = +d.class;
    d.index = i;
    return d;
  }, function(error, data) {
    window.data = data;
    update();
  });

  function update() {
    R = roc(window.data);

    var table = d3.select('#chart table')
    .selectAll("tr.data")
    .data(data)

    var rows = table
    .enter()
    .append("tr")
    .classed("data", true)    
    .on("mouseover", function(d) {
      circs.filter(function(f) { return f.index == d.index; }).attr("r", 5);  
      d3.select(this).classed("select", true)
      .classed("class1", function(d) {return d.class == 1; });
    })
    .on("mouseout", function(d) {
      circs.filter(function(f) { return f.index == d.index; }).attr("r", 3);  
      d3.select(this).classed("select", false)
      .classed("class1", function(d) {return d.class == 1; });
    })
    .on("click", function(d) { d.class = +!d.class; update(); });

    table
    .classed("class1", function(d) { return d.class == 1; })
    .html(function(d){ return "<td>"+(d.class)+"</td><td>"+format(d.score)+"</td>";})

    svg.select("path.area")
    .datum(R)
    .attr("d", area);

    var circs = svg.selectAll("circle")
    .data(R)

    circs
    .enter()
    .append("circle")  
    .attr("class", "pt")
    .attr("r", 3)
    .on("mouseover", function(d){
      d3.select(table[0][d.index]).classed("select", true);
      d3.select(this).attr("r", 5)
    })
    .on("mouseout", function(d){
      d3.select(table[0][d.index]).classed("select", false);
      d3.select(this).attr("r", 3)
    });

    circs
    .attr("cx", function(d) { return x(d.x); })
    .attr("cy", function(d) { return y(d.y); })
    
  }

  function roc(data) {

    var num_pts = data.length,
    f_prev = -10,
    FP = 0,
    TP = 0,
    N = data.filter(function(a){return a.class == 0;}).length
    P = num_pts - N,
    i = 0,
    R = [];

    // Sort data by score, ascending
    data.sort(function(a,b){ return b.score-a.score; });

    while (i < num_pts) {
    	if (data[i].score != f_prev) {
        var tmp = {};
        tmp.x = FP/N;
        tmp.y = TP/P;
        if (i > 0) {
          tmp.index = data[i-1].index;
        }
        R.push(tmp)
    		f_prev = data[i].score;
    	}

    	if (data[i].class == 1) {
    		TP = TP + 1;
    	}
    	else {
    		FP = FP + 1
    	}

    	i++;
    }

    R.push({"x": FP/N, "y": TP/P, "index": data[i-1].index})

    return R;	
  }

  function edge1(){
    window.data.forEach(function(d){
      d.class = d.score >= 0.5 ? 1 : 0;
      update();
    })
  }

  function edge2(){
    window.data.forEach(function(d){
      d.class = d.score < 0.5 ? 1 : 0;
      update();
    })
  }

  function edge3(){
    window.data.forEach(function(d,i){
      d.class = +!(i%2);
      update();
    })
  }
</script>
{% endblock %}