---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from 'astro:content';

interface Props {
  frontmatter: CollectionEntry<'posts'>['data'];
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <article>
    <header class="mb-8">
      <h1 class="lg:text-left text-center text-4xl font-bold mb-4">
        {frontmatter.title}
      </h1>
      <div class="text-gray-600 text-sm border-b border-gray-200 pb-4">
        {new Date(frontmatter.date).toLocaleDateString('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric'
        })}
      </div>
    </header>
    <div class="prose lg:prose-xl mb-64">
      <slot />
    </div>
  </article>
</BaseLayout>
