---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout dave="Reed">
  <h1
    class="lg:text-left text-center text-4xl font-bold border-b border-gray-300"
  >
    Hello
    {frontmatter.title}
  </h1>
  <div class="prose lg:prose-xl">
    Hello
    <slot />
  </div>
</BaseLayout>
