---
import BaseLayout from "./BaseLayout.astro";
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <h1
    class="lg:text-left text-center text-4xl font-bold border-b border-gray-300"
  >
    {title}
  </h1>
  <div class="prose lg:prose-xl mb-64">
    <slot />
  </div>
</BaseLayout>
