---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { Image } from "@astrojs/image/components";
const remoteImage = "https://placekitten.com/200/300";
const remoteAlt = "A low-angle view of a forest during the daytime";
import localImage from "../images/mortgage-calc.png";

console.log("frontmatter", frontmatter.images[0]);
---

<BaseLayout>
  <h1
    class="lg:text-left text-center text-4xl font-bold border-b border-gray-300"
  >
    {frontmatter.title}
  </h1>

  <Image src={localImage} alt="descriptive text" height={300} />
  <Image
    src={frontmatter.images[0]}
    alt="descriptive text"
    height={300}
    width={1000}
    format={"png"}
  />

  <div class="prose lg:prose-xl">
    <slot />
  </div>
</BaseLayout>
